:root {
    --primary__crl: #29313D;
    --secondary__clr: #8454F5;
    --white: #fff;
}

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* ==================================
            Common Code Start
    ================================= */
* {
    padding: 0;
    margin: 0;
    /* outline: 0; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

.container {
    width: 1410px;
    margin: 0 auto;
}

.commonbtn {
    padding: 14px 28px;
    color: var(--white);
    background-color: var(--secondary__clr);
    border-radius: 18px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    text-transform: capitalize;
    border: none;
}

.commonbtn--hover {
    transition: all linear .3s;
}

.commonbtn--hover:hover {
    transform: scale(1.03);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.paragraph {
    color: var(--primary__crl);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    text-transform: capitalize;
}

.paragraph.effect {
    padding-left: 20px;
    position: relative;
}

.paragraph.effect::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #FFC556;

}


/* ==================================
            Common Code End
    ================================= */

/* ==================================
            Navbar Part Start
    ================================= */
#navbar {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 20%;
}

.nav__menu {
    width: 60%;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 74px;
}

.nav_link {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.nav_btn {
    width: 20%;
    text-align: end;
}

/* ==================================
            Navbar Part End
    ================================= */




/* ==================================
            Banner Part Start
    ================================= */
#banner {
    padding: 238px 0 70px;
    background: url(../images/banner_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__wrapper {
    display: flex;
    align-items: center;
}

.banner__content {
    width: 720px;
}

.banner__content h1 {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 44px;
}

.paragraph--width {
    width: 516px;
}

.banner__form {
    width: 630px;
}

.banner__form__group {
    margin-top: 52px;
    background-color: #29313D;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    background: rgba(132, 84, 245, 0.05);
}

.banner__form__input {
    width: 100%;
    padding: 37px 200px 37px 28px;
    border-radius: 24px;
    background-color: transparent;
    border: none;
}

.banner__form__btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.banner__img {
    width: 689px;
    position: relative;
    left: 123px;
}

/* ==================================
            Banner Part End
    ================================= */

/* ==================================
            Brands Part Start
    ================================= */
#brands {
    padding: 80px 0;
}

.brands__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.brands__item {
    width: 210px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================================
            Brands Part End
    ================================= */

/* ==================================
            Navbar Part Start
    ================================= */
/* ==================================
            Navbar Part End
    ================================= */

/* ==================================
            Navbar Part Start
    ================================= */
/* ==================================
            Navbar Part End
    ================================= */
/* ==================================
            Navbar Part Start
    ================================= */
/* ==================================
            Navbar Part End
    ================================= */
/* ==================================
            Navbar Part Start
    ================================= */
/* ==================================
            Navbar Part End
    ================================= */
/* ==================================
            Navbar Part Start
    ================================= */
/* ==================================
            Navbar Part End
    ================================= */