:root {
    --primary__crl: #29313D;
    --secondary__clr: #8454F5;
    --white: #fff;
    --orange: #FEC35F;
}

/* 
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif; */

/* ==================================
            Common Code Start
    ================================= */
* {
    padding: 0;
    margin: 0;
    /* outline: 0; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    line-height: 0.8;
}

.container {
    width: 1410px;
    margin: 0 auto;
}

.commonbtn {
    padding: 20px 48px;
    color: var(--white);
    background-color: var(--secondary__clr);
    border-radius: 18px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    text-transform: capitalize;
    border: none;
}

.commonbtn--hover {
    transition: all linear .3s;
}

.commonbtn--hover:hover {
    transform: scale(1.03);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.paragraph {
    color: var(--primary__crl);
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    text-transform: capitalize;
}

.paragraph.effect {
    padding-left: 22px;
    position: relative;
}

.paragraph.effect::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #FFC556;

}

.heading {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
}

.title {
    color: var(--primary__crl);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 100%;
    text-transform: capitalize;
    transition: all linear .3s;
}

/* ==================================
            Common Code End
    ================================= */

/* ==================================
            Navbar Part Start
    ================================= */
#navbar {
    padding: 30px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.nav_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 20%;
}

.nav__menu {
    width: 60%;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 74px;
}

.nav_link {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.nav_btn {
    width: 20%;
    text-align: end;
}

.commonbtn--padding {
    padding: 14px 28px;
}

/* ==================================
            Navbar Part End
    ================================= */




/* ==================================
            Banner Part Start
    ================================= */
#banner {
    padding: 238px 0 70px;
    background: url(../images/banner_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__wrapper {
    display: flex;
    align-items: center;
}

.banner__content {
    width: 720px;
}

.banner__content h1 {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
    padding-bottom: 44px;
}

.paragraph--width {
    width: 516px;
}

.banner__form {
    width: 630px;
}

.banner__form__group {
    margin-top: 52px;
    background-color: #29313D;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    background: rgba(132, 84, 245, 0.05);
}

.banner__form__input {
    width: 100%;
    padding: 37px 200px 37px 28px;
    border-radius: 24px;
    background-color: transparent;
    border: none;
}

.banner__form__btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}


.banner__img {
    width: 689px;
    position: relative;
    left: 123px;
}

/* ==================================
            Banner Part End
    ================================= */

/* ==================================
            Brands Part Start
    ================================= */
#brands {
    padding: 80px 0;
}

.brands__wrapper {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.brands__item {
    width: 210px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==================================
            Brands Part End
    ================================= */

/* ==================================
            Solutions Part Start
    ================================= */
#solutions {
    padding: 120px 0;
}

.solutions__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

.heading--width {
    width: 564px;
}

.paragraph--wth {
    width: 653px;
}

.solutions__wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.solutions__item {
    width: 450px;
    padding: 24px 34px 48px 24px;
    border: 1px solid rgba(132, 84, 245, 0.40);
    border-radius: 30px;
    transition: all linear .3s;
    /* cursor: pointer; */
}



.solu__item__heading {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

.icon__box {
    width: 70px;
    height: 70px;
    background-color: rgba(254, 195, 93, 0.15);
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all linear .3s;
}

.icon__box i {
    font-size: 30px;
    color: #FEC35F;
    transition: all linear .3s;
}

.solu__item__heading h3 {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    transition: all linear .3s;
}

.paragraph-opacity {
    opacity: 0.7;
    padding: 16px 0 24px;
    transition: all linear .3s;
}

.solutions__item:hover {
    background-color: var(--secondary__clr);
}

.solutions__item:hover .icon__box {
    background-color: rgba(251, 251, 254, 0.15);
}

.solutions__item:hover .icon__box i {
    color: #FCFCFE;
}

.solutions__item:hover .solu__item__heading h3 {
    color: #FCFCFE;
}

.solutions__item:hover .solu__item__heading h3 {
    color: #FCFCFE;
}

.solutions__item:hover .paragraph-opacity {
    color: #FCFCFE;
}


.solutions__item:hover .title--color {
    color: #FCFCFE;
}

/* ==================================
            Solutions Part End
    ================================= */

/* ==================================
            Goal Part Start
    ================================= */
#goal {
    padding: 183px 0 228px;
    position: relative;
}

#goal::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 35%;
    height: 733px;
    border-radius: 0px 150px 150px 0px;
    background: rgba(98, 62, 185, 0.05);
    z-index: -1;
}

.gaol__wrapper {
    display: flex;
    column-gap: 120px;
    align-items: center;
}

.goal__img {
    margin-left: 53px;
    width: 488px;
    overflow: hidden;
}

.goal__img img {
    width: 100%;
    object-fit: cover;
}

.goal__content {
    width: 689px;
    margin-right: 60px;
}

.goal__content .paragraph {
    opacity: 0.7;
    padding: 24px 0 48px;
}

/* ==================================
            Goal Part End
    ================================= */


/* ==================================
            List Part Start
    ================================= */
#list {
    padding: 80px 0 120px;
}

.list__btn__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 24px;
    background: rgba(219, 204, 252, 0.20);
    margin-bottom: 120px;
}

.paragraph--btn {
    padding: 26px 63px;
    border: none;
    background-color: transparent;
    border-radius: 18px;
    color: var(--secondary__clr);
    font-weight: 600;
    line-height: 140%;
    cursor: pointer;
    transition: all linear .3s;
}

.paragraph--btn:hover {
    background-color: var(--secondary__clr);
    color: var(--white);
}

.list__wrapper {
    display: flex;
    align-items: center;
    column-gap: 155px;
}

.list__img {
    width: 542px;
    overflow: hidden;
    margin-left: 49px;
}

.list__img img {
    width: 100%;
    object-fit: cover;
}

.list__content {
    width: 664px;

}

.list__content .paragraph {
    width: 575px;
    opacity: 0.7;
    padding: 24px 0 48px;
}

/* ==================================
            List Part End
    ================================= */

/* ==================================
            Plan Part Start
    ================================= */
#plan {
    padding: 120px 0 164px;
}

.plan__heading .heading {
    width: 689px;
    margin: 0 auto;
    text-align: center;
}

.plan__swap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding-top: 30px;
}

.plan__swap__item {
    color: var(--primary__crl);
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
    text-transform: capitalize;
    opacity: 0.8;
}

.plan__swap__btn {
    width: 70px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--secondary__clr);
    position: relative;
    cursor: pointer;
}

.plan__swap__btn::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--white);
}



.plan__wrapper {
    display: flex;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
}



.plan__item {
    width: 450px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 48px;
    transition: all linear .3s;
    cursor: pointer;
    margin-top: 160px;
}

.plan__package__name {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;
    transition: all linear .3s;
}

.plan__package__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0;
}

.plan__package__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 28px;
}

.plan__package__list li {
    display: flex;
    column-gap: 14px;
    align-items: center;
}

.plan__package__list i {
    font-size: 18px;
    color: #545A64;
    transition: all linear .3s;
}

.paragraph--color {
    color: #545A64;
    line-height: 120%;
    transition: all linear .3s;
}

.plan__package__value {
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    row-gap: 28px;

}

.paragraph--value {
    font-weight: 700;
    color: var(--secondary__clr);
    line-height: 120%;
    transition: all linear .3s;

}

.commonbtn--color {
    background: rgba(132, 84, 245, 0.10);
    color: var(--secondary__clr);
    transition: all linear .3s;
}

.plan__item:hover {
    margin-top: 0px;
    background: #181059;
}

.plan__item:hover .plan__package__name,
.plan__item:hover .plan__package__list i,
.plan__item:hover .paragraph--color,
.plan__item:hover .paragraph--value {
    color: #F8FAFC;
}

.plan__item:hover .commonbtn--color {
    color: var(--white);
    background-color: var(--secondary__clr);
}

/* ==================================
            Plan Part End
    ================================= */


/* ==================================
            Counter Part Start
    ================================= */
#counter {
    padding: 70px 0;
}

.counter__main {
    display: flex;
    align-items: center;
    column-gap: 228px;
}

.counter__icon {
    display: flex;
    align-items: center;
    column-gap: 28px;
    margin-left: 35px;
}

.counter__icon h5 {
    color: #545A64;
    font-family: 'Nunito', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.counter__play__btn {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.counter__play__btn::after {
    position: absolute;
    top: -24px;
    left: -24px;
    content: url(../images/counter_shape.png);
}

.counter__play__btn i {
    font-size: 50px;
    color: #F8FAFC;
}

.counter__wrapper {
    display: flex;
    align-items: center;
    column-gap: 128px;
}

.counter__item {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    position: relative;
}

.counter__item::after {
    position: absolute;
    content: "";
    top: 50%;
    right: -48px;
    transform: translateY(-50%);
    opacity: 0.2;
    background: #29313D;
    width: 2px;
    height: 100px;
}

.counter__item:last-child::after {
    content: unset;
}

.counter__item h3 {
    color: var(--primary__crl);
    /* text-align: center; */
    font-family: 'Open Sans', sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 140%;
    /* 89.6px */
    text-transform: capitalize;
}


.paragraph-widthopci {
    width: 185px;
    opacity: 0.8;
}

/* ==================================
            Counter Part End
    ================================= */



/* ==================================
            Team Part Start
    ================================= */
#team {
    margin: 140px 0;
    position: relative;
}

.team__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.team__img {
    width: 450px;
    height: 520px;
    border-radius: 40px;
    overflow: hidden;
}

.team__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.paragraph--tweak {
    font-size: 20px;
    width: 446px;
    opacity: 0.8;
    line-height: 180%;
}

.team__content h3 {
    color: var(--primary__crl);
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 180%;
    /* 64.8px */
    text-transform: capitalize;
    padding: 20px 0 14px;
}

.team__social {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.team__social__icon {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--secondary__clr);
    transition: all linear .3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


.team__social__icon i {
    font-size: 14px;
    color: var(--secondary__clr);
    transition: all linear .3s;
}

.team__social__icon:hover {
    background-color: var(--secondary__clr);
}

.team__social__icon:hover i {
    color: var(--white);
}

.team__navigator {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding-top: 56px;
}

.prev,
.next {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background: #F3EEFE;
    transition: all linear .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.prev i,
.next i {
    font-size: 18px;
    color: #130F26;
    transition: all linear .3s;
}

.prev:hover,
.next:hover {
    background: var(--secondary__clr);
}

.prev:hover i,
.next:hover i {
    color: var(--white);
}

.team__members {
    width: 368px;
    height: 480px;
    position: relative;
}

.team__members__img {
    width: 136px;
    height: 136px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
}

.team__members__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team__members__img:nth-child(2) {
    top: 20px;
    right: 16px;
    width: 82px;
    height: 82px;
    border-radius: 15px;
}

.team__members__img:nth-child(2) {
    top: 40px;
    right: 16px;
    width: 82px;
    height: 82px;
    border-radius: 15px;
}

.team__members__img:nth-child(3) {
    top: 80px;
    right: 164px;
    width: 109px;
    height: 109px;
    border-radius: 20px;
}

.team__members__img:nth-child(4) {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 68px;
    height: 68px;
    border-radius: 14px;
}

.team__members__img:nth-child(5) {
    top: 380px;
    left: 90px;
    width: 68px;
    height: 68px;
    border-radius: 14px;
}

.team__members__img:nth-child(6) {
    top: 430px;
    right: -40px;
    width: 82px;
    height: 82px;
    border-radius: 15px;
}

/* ==================================
            Team Part End
    ================================= */



/* ==================================
            Newsletter Part Start
    ================================= */
#newsletter {
    padding: 140px 0;
}

.heading--align {
    text-align: center;
    width: 820px;
    margin: 0 auto;
}

.newsletter__offer {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 37px;
    padding: 28px 0 48px;
}

.newsletter__offer span {
    color: var(--primary__crl);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 180%;
    text-transform: capitalize;
    position: relative;
}

.newsletter__offer span::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);
    right: -18px;
    background-color: var(--primary__crl);
    width: 2px;
    height: 18px;
    border-radius: 5px;
}

.newsletter__offer span:last-child:after {
    content: unset;
}

.newsletter__form {
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}

.newsletter__form input {
    width: 521px;
    height: 80px;
    background-color: red;
    border: none;
    outline: none;
    padding: 24px;
    border-radius: 18px;
    background: #F3EEFE;
    line-height: 180%;
}

.newsletter__form button {
    cursor: pointer;
}

/* ==================================
            Newsletter Part End
    ================================= */

/* ==================================
            Footer Part Start
    ================================= */
footer {
    padding: 140px 0 57px;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

.paragraph--enhance {
    width: 449px;
    padding-top: 44px;
}

.footer__list__wrapper {
    display: flex;
    column-gap: 180px;
}

.footer__content h5 {
    color: var(--primary_clr);
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}

.footer__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 48px;
}

.footer__item {
    color: var(--primary_clr);
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}

.footer__copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 80px;
}

.footer__policy {
    display: flex;
    align-items: center;
    column-gap: 60px;
}

/* ==================================
            Footer Part End
    ================================= */